* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#home {
  background: url("images/mainFoto.jpg") center/cover no-repeat;
}
#about .about-content p {
  max-width: 560px;
  line-height: 1.7;
  margin-top: 1.5rem;
  color: #444;
}
#about .about-content h2 {
  font-weight: 700;
  color: #222;
}
